h1 {
  text-align: center;
  padding-top: 15px !important;
  padding-bottom: 15px;
  font-size: 70px !important;
  font-family: 'Shrikhand', cursive !important;
  color: white !important;
}

h3 {
  padding-top: 10px !important;
  font-family: 'Shrikhand', cursive !important;
}

p {
  margin: 0px !important;
  font-family: 'Open Sans', sans-serif !important;
  overflow: hidden;
}

.container {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

/*
* Heading
*/
.heading {
  background-color: #25376F !important;
  padding-top: 15px;
  padding-bottom: 30px;
}

.search-user {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center !important;
  font-family: 'Open Sans', sans-serif !important;
}

input {
  height: 35px;
}

/*
* Gist List
*/

.list-outer-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #efefef;
}

.list-content {
  padding-left: 5px;
  padding-right: 5px;
}

.list-item {
  margin-bottom: 10px;
  padding: 7px;
  background-color: #fff7e1;
}

.item-date {
  text-align: center;
  color: #217D45;
}

.item-description {
  text-align: left;
}

strong {
  color: #fe7e2c;
}

.footer {
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px !important;
}
